@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Lobster&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@400;700;900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: "Inter",sans-serif;
    min-height: 100vh; 
    background-color:hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    font-size: 15px;
}
.container{
    max-width: 1020px;
    margin:0 auto; 
}
.main{
    margin:2rem;
    background-color: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    overflow: hidden; 
}
.image{
    width: 100%; 
    height: 100%;
    object-fit: cover ; 
    position: relative;
}
.image::after{
    position: absolute; 
    content: "";
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background-color: hsl(277, 64%, 40%,0.5);
}
.text{
    padding:60px;
}
.text h1{
    color:hsl(0, 0%, 100%);
    margin-bottom:25px;
}
.text span{
    color: hsl(277, 64%, 61%);
}
.text p{
    color:hsla(0, 0%, 100%, 0.75);
    line-height: 1.7;
}
.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top:60px;
}
.list h2{
    color: hsl(0, 0%, 100%);
    margin-bottom: 5px;
}
@media(max-width:550px){
    body{
        text-align: center;
      }
      .main{
          grid-template-columns: 1fr;
      }

      .image{
          order:-1;
      }
      .list{
          flex-direction: column;
          margin-top: 50px; 
      }
      .text{
          padding:20px;
      }
      .list li{
          margin-top: 20px;
      }
      @media(max-width:425px){
        h1{
            font-size: 1.5rem;
        }
        p{
            font-size: 10px;
        }
        .list h2{
           font-size: 1rem; 
        }
      }
}